/* ページ全体中央揃え */
body {
    margin: 0;
    padding: 0;
   }

.title{
    width: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 15px;
    max-width: 650px;
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
}

.mainWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 650px;
    padding-top: 60px;
}

/* ヘッダーの見た目 */
header {
    display: flex;
    position:fixed;
    top: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    letter-spacing: .04em;
    justify-content: center;
    align-items: center;
}

header h4 {
    display: block;
    margin-left: 10px;
    color: #25ABD8;
    font-size: 26px;
}

header a {
    text-decoration: none;
    color: #25ABD8;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic ProN',-apple-system,BlinkMacSystemFont,'Hiragino Sans','游ゴシック Medium',meiryo,sans-serif;
    cursor: pointer;
}

header ul {
    display: flex;
}

header li {
    margin: 0 0 0 15px;
}

.headerQuizCreateButton{
    display: block;
    background-color: #f49000;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: .04em;
}

.headerSearchButton{
    display: block;
    background-color: #031831;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    line-height: 25px;
}

/* 下２つは問題文の見た目 */
h3 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
}

h3:after {
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
    content: '';
}

/* 問題の選択肢ブロックの見た目 */
.option{ 
    margin: 8px;
    padding-left: 14px; 
    border:1px solid #ebebeb; 
    width:600px; 
    height: 50px; 
    font-weight: bold; 
    background-color: #ffffff; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 50px;
    list-style: none;/* リストの黒丸を消す */
}

.buttonOfOptionNumber1{ 
    margin: 8px;
    padding-left: 14px; 
    border:1px solid #ebebeb; 
    width:600px; 
    height: 50px; 
    font-weight: bold; 
    background-color: #ffffff; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 50px;
    list-style: none;/* リストの黒丸を消す */
}

.buttonOfOptionNumber2{ 
    margin: 8px;
    padding-left: 14px; 
    border:1px solid #ebebeb; 
    width:600px; 
    height: 50px; 
    font-weight: bold; 
    background-color: #ffffff; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 50px;
    list-style: none;/* リストの黒丸を消す */
}

.buttonOfOptionNumber3{ 
    margin: 8px;
    padding-left: 14px; 
    border:1px solid #ebebeb; 
    width:600px; 
    height: 50px; 
    font-weight: bold; 
    background-color: #ffffff; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 50px;
    list-style: none;/* リストの黒丸を消す */
}

/* リストの黒丸を消す
ul{
    list-style: none;
} */

/* 正解の時のブロックの見た目 */
/* .answerBox{
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #287dff; 
    color:#ffffff;
    width:600px; 
    height: 48px; 
    font-weight: bold; 
    background-color: #287dff; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
} */

.firstIsInvisible{
    display: none;
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #f5f5f5; 
    width:600px; 
    height: 95px; 
    background-color: #f5f5f5; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
    list-style: none;/* リストの黒丸を消す */
}
    
.firstIsInvisible span{
    font-weight: bold;
    border-bottom: solid 4px #287dff;
  }
      

/* 不正解の時のブロックの見た目 */
/* .incorrectAnswerBox{
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #ff5128; 
    color:#ffffff;
    width:600px; 
    height: 48px; 
    font-weight: bold; 
    background-color: #ff5128; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
} */

.incorrectFirstIsInvisible{
    display: none;
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #f5f5f5; 
    width:600px; 
    height: 95px; 
    background-color: #f5f5f5; 
    box-shadow: 0 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
    list-style: none;/* リストの黒丸を消す */
}
    
.incorrectFirstIsInvisible span{
    font-weight: bold;
    border-bottom: solid 4px #ff5128;
  }


/* リストの黒丸を消す */
ul{
    list-style: none;
}

/* 正解の時のブロックの見た目 */
.answerBox{
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #287DFF; 
    color:#ffffff;
    width:600px; 
    height: 48px; 
    font-weight: bold; 
    background-color: #287DFF; 
    box-shadow: 0px 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
}

.firstIsInvisible{
    margin: 6px;
    padding-left: 14px; 
    border:1px solid #f5f5f5; 
    width:600px; 
    height: 95px; 
    background-color: #f5f5f5; 
    box-shadow: 0px 1.5px 1.5px #e6e6e6; 
    line-height: 48px;   
}

/* 正解！だけ変更点 */
.firstIsInvisible span{
    font-weight: bold;
    border-bottom: solid 2px #287dff;
 }

