body{
  background-color: #e6e3e3;
}
p{
  margin: 0;
}
div{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}

.inner{
  max-width: 100%;
  margin: 0 auto;
}


/* header */
.header{
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
}
.header__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 30px 0;
}
.posse__logo{
  height: 32px;
  /* margin-left: 10px; */
  background-size: cover;
}
.header__date{
  font-size: 15px;
  color: rgb(12, 154, 211);
  margin-left: 20px;
}
.header__sending__button{
  background: linear-gradient(to right, #4169e1, #87cefa);
  margin-left: auto;
  /* margin-right: 20px; */
  color: #fff;
  padding: 5px 40px 5px;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0 0 18px #87cefa;
}

/* main  */
.main__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px auto; */
  margin-top: 84px;
  width: 98%;
}
.main__left{
  width: 44%;
}
.main__right{
  width: 44%;
}

/* main__study__number */
.main__study__number{
  display: flex;
  list-style: none;
}
.main__study__item{
  text-align: center;
  
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px 0;
  width: 100px;
  height: 140px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.main__study__item + .main__study__item{
  margin-left: 20px;
}
.main__study__item__title{
  font-size: 20px;
  color: #4169e1;
}
.main__study__item__number{
  font-size: 35px;
  font-weight: bold;
}
.main__study__item__unit{
  font-size: 20px;
  color: #87cefa;
}

/* main__bar__graph */
.main__bar__graph{
  width: 580px;
  height: 320px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* main__pie__chart */
.main__pie__chart__inner{
  display: flex;
  list-style: none;
  margin-left: 20px;
}
.main__pie__chart__item + .main__pie__chart__item{
  margin-left: 20px;
}
.main__pie__chart__item{
  width: 270px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* footer */
.footer__fixed{
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}
.footer {
  margin-top: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.Arrow-Right {
  border-top: solid 2px #87cefa;
  border-right: solid 2px #87cefa;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
.Arrow-Left {
  border-bottom: solid 2px #4169e1;
  border-left: solid 2px #4169e1;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}

/*モーダルウィンドウを動かしているcss*/
.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.header__sending__button a{
  text-decoration: none;
  color: #fff;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}
.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}
.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}
.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 800px;  /* 600 */
  padding: 30px 30px 30px;  /* 30px 30px 15px; */
  border-radius: 2px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}
.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left
}
.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}
.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}
.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}

/* ここからモーダルの中身 */
.main__inner__ver__modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main__left__ver__modal{
  width: 50%;
}
.main__right__ver__modal{
  width: 50%;
}

.contact__form__item__date{
  margin-bottom: 10px;
}
.contact__form__item dd {
  margin: 0  0 10px;
  
}
.main__left__ver__modal .contact__form__item dd label{
  background-color: #e9e4dd;
  /* margin: 10px; */
  /* padding: 2px; */
  border-radius: 5px;
}
.contact__form__item dd label input{
  margin: 12px;
}
/* .contact__form__item dd label + .contact__form__item dd label{
  margin: 2px 0 2px;
} */

/* .main__right__ver__modal dd input{
  background-color: #e9e4dd;
  box-shadow: transparent;
  width: 50%;
} */
.contact__form__item input[type=text]{
  background-color: #e9e4dd;
  border: transparent;
  height: 20px;
  width: 90%;
  border-radius: 5px;
}
.contact__form__item textarea[type=text]{
  background-color: #e9e4dd;
  border: transparent;
  width: 90%;
  height: 150px;
  border-radius: 5px;
}
.contact__form__footer {
  text-align: center;
  margin-top: 20px;
}

/* calender */
input[type="date"] {
  width: 90%;
  background-color: #e9e4dd;
  border: transparent;
  height: 23px;
  border-radius: 5px;
}
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}  /* ここまでで２つのボタン消去 */
input[type="date"]{
  /* width: 200px;  */
  position: relative;
}
input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}  /* ここまででカレンダーロゴマーク消去 */

/* チェックボックスの見た目 */
input[type="checkbox"]{
  appearance: none;
  position: absolute;
}
input[type="checkbox"]::before {
  position: absolute;
  left: 0;
  display: block;
  border: 1px solid orange; /*外側は正方形 */
  content: '';
  width: 16px;
  height: 16px;
}
input[type="checkbox"]::after {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  border-right: 1px solid orange; /*右と*/
  border-bottom: 1px solid orange; /*下だけにborder*/
  content: '';
  width: 5px; /*長方形を作る*/
  height: 10px;
}