body{
  background-color: #e6e3e3;
}
p{
  margin: 0;
}
div{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}

.inner{
  max-width: 100%;
  margin: 0 auto;
}


/* header */
.header{
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #fff;
  z-index: 999;
}
.header__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 30px 0;
}
.posse__logo{
  height: 32px;
  /* margin-left: 10px; */
  background-size: cover;
}
.header__date{
  font-size: 15px;
  color: rgb(12, 154, 211);
  margin-left: 20px;
}
.header__sending__button{
  background: linear-gradient(to right, #4169e1, #87cefa);
  margin-left: auto;
  /* margin-right: 20px; */
  color: #fff;
  padding: 5px 40px 5px;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0 0 18px #87cefa;
}

/* main  */
.main__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px auto; */
  margin-top: 84px;
  width: 98%;
}
.main__left{
  width: 44%;
}
.main__right{
  width: 44%;
}

/* main__study__number */
.main__study__number{
  display: flex;
  list-style: none;
}
.main__study__item{
  text-align: center;
  
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px 0;
  width: 100px;
  height: 140px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.main__study__item + .main__study__item{
  margin-left: 20px;
}
.main__study__item__title{
  font-size: 20px;
  color: #4169e1;
}
.main__study__item__number{
  font-size: 35px;
  font-weight: bold;
}
.main__study__item__unit{
  font-size: 20px;
  color: #87cefa;
}

/* main__bar__graph */
.main__bar__graph{
  width: 580px;
  height: 320px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* main__pie__chart */
.main__pie__chart__inner{
  display: flex;
  list-style: none;
  margin-left: 20px;
}
.main__pie__chart__item + .main__pie__chart__item{
  margin-left: 20px;
}
.main__pie__chart__item{
  width: 270px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* footer */
.footer__fixed{
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}
.footer {
  margin-top: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.Arrow-Right {
  border-top: solid 2px #87cefa;
  border-right: solid 2px #87cefa;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
.Arrow-Left {
  border-bottom: solid 2px #4169e1;
  border-left: solid 2px #4169e1;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}

/*モーダルウィンドウを動かしているcss*/
.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.header__sending__button a{
  text-decoration: none;
  color: #fff;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}
.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}
.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}
.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 1010;
  position: relative;
  width: 900px;
  height: 500px;
  /*max-width: 600px;  /* 600 */
  padding: 30px 0 30px;  /* 30px 30px 15px; */
  border-radius: 2px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}
.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left
}
.modal-overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}
.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}
.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}

/* ここからモーダルの中身 */
.main__inner__ver__modal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main__left__ver__modal{
  width: 50%;
  padding-left: 56px;
}
.main__right__ver__modal{
  width: 50%;
  padding-right: 56px;
}

.contact__form__item__date{
  margin-bottom: 10px;
}
.contact__form__item__date input{
  margin-top: 5px;
}
.contact__form__item dd {
  margin: 0  0 10px;
  
}
.main__left__ver__modal .contact__form__item dd label{
  background-color: #e9e4dd;
  padding: 2px;
  border-radius: 5px;
}
.contact__form__item dd label input{
  margin: 12px;
}
.contact__form__item input[type=text]{
  background-color: #e9e4dd;
  border: transparent;
  height: 20px;
  width: 394px;
  border-radius: 5px;
}
.contact__form__item textarea[type=text]{
  background-color: #e9e4dd;
  border: transparent;
  width: 394px;
  height: 150px;
  border-radius: 5px;
}
.contact__form__footer {
  text-align: center;
  margin-top: 40px;
}
a{
  text-decoration: none;
  color: #000;
}

/* calender */
input[type="date"] {
  width: 90%;
  background-color: #e9e4dd;
  border: transparent;
  height: 23px;
  border-radius: 5px;
}
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}  /* ここまでで２つのボタン消去 */
input[type="date"]{
  /* width: 200px;  */
  position: relative;
}
input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}  /* ここまででカレンダーロゴマーク消去 */

/* チェックボックスの見た目 */
label input[type="checkbox"] ~ i.fa.fa-square-o{
  color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
  display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
  display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
  color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}
div[data-toggle="buttons"] label.active{
  color: #7AA3CC;
}
div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid #c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}
div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

/* modal__loading */
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    /* background: #000; */
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid #8ccfee;
  border-bottom: 1.1em solid #58bedd;
  border-left: 1.1em solid #04a1df;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 記録・投稿完了画面 */
.circle__wrap{
	position: fixed;
	/* display: flex; */
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 250px;
    /* background: #000; */
}
.circle {
  background-color:rgb(168, 240, 86);
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.check__mark{
  content: '';
  width: 30px;
  height: 15px;
  position: absolute;
  top: 35%;
  left: 35%;
  /* transform: translate(-50%, -50%); */
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
}
.circle__above{
  color: rgb(168, 240, 86);
  font-size: 15px;
  /* position: absolute;
  top: -10%; */
}
.modal-wrapper .modal-window .modal-content-circle {
  /* max-height: 80vh;
  overflow-y: auto; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 900px;
  height: 500px;
}
.circle__wrap p{
  margin: 0;
  padding: 0;
}